.content_button {
    display: flex;

    .buttonOne {
        background: #1DD19B;
        border-color: #1DD19B;
    }

    .buttonTwo {
        background: #2400FF;
        border-color: #2400FF;
        margin-left: 200px;
    }

    .buttonThree {
        background: #F05C27;
        border-color: #F05C27;
        margin-left: 200px;
    }
}

// 表格按钮
.tableButtonContent {
    display: flex;
    justify-content: center;

    .tableButtonOne {
        height: 28px;
        background: #ffa728;
        border: #ffa728;
    }

    .tableButtonTwo {
        height: 28px;
        background: #109af9;
        border: #109af9;
    }

    .tableButtonThree {
        height: 28px;
        background: #F05C27;
        border: #F05C27;
    }
}

// 过滤查询弹框
.dialogClass {
    width: 100%;

    .dialogTitle {
        flex: 1;
        text-align: right;
    }

    .dialogContent {
        width: 200px;
        height: 40px
    }
}

// 发布通知弹框
.elDrawerClass {
    padding: 20px;

    .mavonEditorClass {
        padding: 10px;
    }
}