::v-deep .content-tabs {
    .el-tabs__content {
        width: 1570px;
        // height: 706px;
        overflow: auto;
    }

    .el-tabs__nav-scroll {
        background-color: #fff;
        padding: 0px 0px;
    }

    .el-tabs__nav {
        margin: 0px 30px 0px 0px;
        /* 使用rpx没有效果 */
    }

    .el-tabs__item {
        font-size: 20px;
    }

    // .el-tabs--top .el-tabs__item.is-top:nth-child(2) {
    //     // padding-left: 20px;
    // }

    .el-tabs--top .el-tabs__item.is-top:last-child {
        padding-right: 20px;
    }

    /*悬浮样式*/
    //     .el-tabs__item:hover {
    //         // color: #e1251b;
    //     }

    //     /*选中样式*/
    //     .el-tabs__item.is-active {
    //         // color: #fff;
    //         // font-weight: bold;
    //         // background-color: #e1251b;
    //     }

    //     /*隐藏tab下面的一横*/
    //     .el-tabs__active-bar {
    //         // display: none;
    //     }
}

// 资产库存列表
::v-deep.content_One {
    width: 1570px;
    // height: 706px;

    .buttonList {
        display: flex;
        margin-bottom: 10px;

        .buttonOne {
            background: #1dd19b;
            border: 1px solid #1dd19b;
            margin-right: 200px;
        }

        .buttonTwo {
            background: #ffa728;
            border: 1px solid #ffa728;
            margin-right: 200px;
        }

        .buttonThree {
            background: #109AF9;
            border: 1px solid #109AF9;
            margin-right: 200px;
        }

        .buttonFour {
            background: #2400FF;
            border: 1px solid #2400FF;
            margin-right: 200px;
        }


    }

    .tableBox {

        //  表格按钮
        .tableButtonContent {
            display: flex;
            justify-content: center;

            .tableButton:hover {
                transform: scale(1.04);
            }

            .tableButtonOne {
                height: 28px;
                background: #ffa728;
                border: #ffa728;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
            }

            .tableButtonTwo {
                height: 28px;
                background: #109af9;
                border: #109af9;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
            }
        }

        //  表格复选框
        .inputCheckBox {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

// 资产领用列表
::v-deep.content_Two {
    width: 1570px;
    // height: 706px;

    .buttonList {
        display: flex;
        margin-bottom: 10px;

        .buttonOne {
            background: #1dd19b;
            border: 1px solid #1dd19b;
            margin-right: 50px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }

        .buttonTwo {
            background: #ffa728;
            border: 1px solid #ffa728;
            margin-right: 50px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }

        .buttonThree {
            background: #2400FF;
            border: 1px solid #2400FF;
            margin-right: 50px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }

        .buttonFour {
            background: #F05C27;
            border: 1px solid #F05C27;
            margin-right: 50px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }

        .Hover:hover {
            transform: scale(1.04);
        }
    }

    .tableBox {

        //  表格按钮
        .tableButtonContent {
            display: flex;
            justify-content: center;

            .tableButton:hover {
                transform: scale(1.04);
            }

            .tableButtonOne {
                height: 28px;
                background: #ffa728;
                border: #ffa728;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
            }

            .tableButtonTwo {
                height: 28px;
                background: #109af9;
                border: #109af9;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
            }
        }

        //  表格复选框
        .inputCheckBox {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

// 异常资产列表
::v-deep.content_Three {
    width: 1570px;
    // height: 706px;

    .buttonList {
        display: flex;
        margin-bottom: 10px;

        .buttonOne {
            background: #1dd19b;
            border: 1px solid #1dd19b;
            margin-right: 50px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }

        .buttonTwo {
            background: #ffa728;
            border: 1px solid #ffa728;
            margin-right: 50px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }

        .buttonThree {
            background: #2400FF;
            border: 1px solid #2400FF;
            margin-right: 50px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }

        .buttonFour {
            background: #F05C27;
            border: 1px solid #F05C27;
            margin-right: 50px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }

    }

    .tableBox {

        //  表格按钮
        .tableButtonContent {
            display: flex;
            justify-content: center;

            .tableButton:hover {
                transform: scale(1.04);
            }

            .tableButtonOne {
                height: 28px;
                background: #ffa728;
                border: #ffa728;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
            }

            .tableButtonTwo {
                height: 28px;
                background: #109af9;
                border: #109af9;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
            }
        }

        //  表格复选框
        .inputCheckBox {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}