.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex_ac {
    display: flex;
    align-items: center;
}

.flex_fc_ac {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex_jc {
    display: flex;
    justify-content: center;
}

.flex_fc_jc {
    display: flex;
    flex-direction: column;
    justify-content: center;
}



// 内容区宽高 
.content-box {
    height: calc(100vh - 76px - 14px - 68px - 18px - 20px - 20px);
    // height: 100%;
    width: calc(100vw - 270px - 20px - 20px - 20px - 20px);
    padding: 20px;
    overflow: auto;

}


// 全局按钮
.el-button--primary {
    height: 40px;
    padding-top: 0px;
    padding-bottom: 0px;
    border-radius: 8px;
    margin: 0px;
}

.el-button--default {
    height: 40px;
    padding-top: 0px;
    padding-bottom: 0px;
    border-radius: 8px;
    margin: 0px;
}

// 弹框中取消按钮
.el-button--text.el-button--mini {
    // height: 28px;
    // padding-top: 0px;
    // padding-bottom: 0px;
    // border-radius: 8px;
    // border: 1px solid red;
    // padding: 0px 15px;
    // margin: 0px 0px 0px 0px;
}

// 弹框中确定按钮
.el-button--primary.el-button--mini {
    height: 28px;
    padding-top: 0px;
    padding-bottom: 0px;
    border-radius: 8px;
    margin: 0px 0px 0px 10px;
}

.el-button--primary.is-disabled {
    background: #828282 !important;
    border-color: #828282 !important;
}




//  表格复选框
.el-checkbox {

    //修改选中框的大小
    .el-checkbox__inner {
        width: 20px;
        height: 20px;

        //修改选中框中的对勾的大小和位置
        &::after {
            height: 12px;
            left: 7px;
        }
    }
}

// 全局默认浮动
.Hover:hover {
    transform: scale(1.04);
}


/* 日历样式 控制footer下的按钮 2022-07-21 00:00:00 至 2022-07-22 00：00：00 */
.elDatePicker {
    .el-picker-panel__footer {
        height: 50px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-right: 20px;
    }

    .el-button {
        width: 60px;
        height: 40px;
    }

    .el-button--text {
        width: 60px;
        height: 40px;
    }
}